body {
  background-color: #1c1c1c;
  color: #ffffff;
  transition: 0.2s;
}
header {
  text-align: center;
}
section#main {
  margin: auto;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  font-size: 100px;
  font-family: sans-serif;
  cursor: pointer;
}
